version: "3.9"

services:
  web:
    build: ./app
    container_name: backend_app
    ports:
      - "8000:80"
    volumes:
      - ./app:/app/www/html
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=1234
      - DB_NAME=testdb
    depends_on:
      - db

  db:
    image: mysql:8.0  
    container_name: mysql_db
    restart: always
    environment:

      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: testdb
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      interval: 5s
      retries: 5

volumes:
  db_data: